:root {
    --accent-color:#2196F3 ;
    --bagraut-team: #F5F4FA;
    --begraunt-main: #FFF;
    --taxt-color:#212121;
    --taxt-desc:#757575;
    --foter-begraunt:#2F303A;
    --foter-namber:rgba(255, 255, 255, 0.60);


 
    
}

